In [8]:
import pandas as pd
df = pd.DataFrame({"names":['Bob','Jessica','Mary','John','Mel'], 
                   "grades":[76,95,77,78,99],  
                   "bsdegrees":[1,1,0,0,1], 
                   "msdegrees":[2,1,0,0,0],
                   "phddegrees":[0,1,0,0,0] }) 

df

     names  grades  bsdegrees  msdegrees  phddegrees
0      Bob      76          1          2           0
1  Jessica      95          1          1           1
2     Mary      77          0          0           0
3     John      78          0          0           0
4      Mel      99          1          0           0

In [13]:
df['grades'].describe()

count     5.000000
mean     85.000000
std      11.067972
min      76.000000
25%      77.000000
50%      78.000000
75%      95.000000
max      99.000000
Name: grades, dtype: float64

In [14]:
df['grades'].describe()

count     5.000000
mean     85.000000
std      11.067972
min      76.000000
25%      77.000000
50%      78.000000
75%      95.000000
max      99.000000
Name: grades, dtype: float64

<bound method DataFrame.max of      names  grades  bsdegrees  msdegrees  phddegrees
0      Bob      76          1          2           0
1  Jessica      95          1          1           1
2     Mary      77          0          0           0
3     John      78          0          0           0
4      Mel      99          1          0           0>